<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630300359027-qb17gioaldir9epa39h6c7nqrle1kagj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630300359027-qb17gioaldir9epa39h6c7nqrle1kagj</string>
	<key>API_KEY</key>
	<string>AIzaSyC1fpBYNtc92CHoCevdi_gtFPbbkLY9Ffo</string>
	<key>GCM_SENDER_ID</key>
	<string>630300359027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weightTracker</string>
	<key>PROJECT_ID</key>
	<string>messageme-app-c3412</string>
	<key>STORAGE_BUCKET</key>
	<string>messageme-app-c3412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630300359027:ios:68da4c58cd319ccb536d06</string>
</dict>
</plist>